.task-wrapper {
  display: flex;
  justify-content: space-between;
  width: 466px;
}

.task-card-wrapper {
  margin-top: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  height: fit-content;
  width: 360px;
  font-size: 18px;
  color: white;
  background-color: #686e7c;
  border-radius: 5px;
}

p {
  margin: 0;
  word-break: break-all;
}

.text-underline {
  text-decoration: line-through;
}
