.app-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vh;
  height: 100vh;
}

.tasks-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 426px;
}

.tasks-delete-button {
  display: flex;
  width: 466px;
  font-size: 16px;
  color: #e33371;
}

.tasks-delete-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.modal-delete-selected-tasks {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 200px;
  height: 90px;
  font-size: 24px;
  background: #4e576ae3;
  border-radius: 5px;
  z-index: 1;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  width: 180px;
}

.modal-button-accept,
.modal-button-decline {
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 70px;
  font-size: 18px;
  border-radius: 5px;
}

.modal-button-accept:hover,
.modal-button-decline:hover {
  cursor: pointer;
}

.modal-button-accept {
  background: #e33371;
}

.modal-button-accept:hover {
  background: #de6d94;
}

.modal-button-decline {
  color: #e33371;
  border: 1px solid #e33371;
}

.modal-button-decline:hover {
  background: #e24d8144;
}
